<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(78, 78, 65);">
    <a class="navbar-brand" href="#" style="margin-left: 5%; font-size: 45px;">kitchApp<i class="fas fa-utensils"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin: 2%;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="margin-right: 25%;">
      <ul class="navbar-nav ">

        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin:10%; font-size: 24px; color: aliceblue;">
            <i class="fas fa-redo"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin:10%; font-size: 24px; color: aliceblue;"><i
              class="fas fa-address-card"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin:10%; font-size: 24px; color: aliceblue;"><i
              class="fab fa-facebook-messenger"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" style="margin:10%; font-size: 24px; color: aliceblue;"><i
              class="fas fa-bell"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin: 10%">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Sair</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
